
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "material-components-web/material-components-web";

// My main Sass file.
$mdc-theme-primary: #344955;
$mdc-theme-secondary: #f9aa33;
$mdc-theme-background: #fff;
$mdc-theme--surface: #4a6572;



h1 {

.main-title {
    font-family: 'Coiny', 'cursive';
}
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

